<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <!-- Heading -->
        <h1 class="mb-4 text-center animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
            "Il faut toujours viser la lune, car même en cas d'échec, on atterrit dans les étoiles." Oscar Wilde </h1>

        <!-- Text -->
        <p class="mb-6 text-center text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptas harum aperiam minus corporis, nesciunt nobis quaerat voluptatumunt qui similique.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row form-row align-items-center">
      <div class="col-3">

        <div class="img-square">
          <img src="https://via.placeholder.com/768x512/D3D3D3/000000" alt="..." class="img-cover">
        </div>
        
      </div>
      <div class="col-6">
        <div class="row form-row align-items-end mb-2">
          <div class="col-7">
            
            <div class="img-square">
              <img src="https://via.placeholder.com/768x512/FFB6C1/000000" alt="..." class="img-cover">
            </div>

          </div>
          <div class="col-5">
            
            <div class="img-square">
              <img src="https://via.placeholder.com/768x512/87CEFA/000000" alt="..." class="img-cover">
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row form-row">
          <div class="col-5">
            
            <div class="img-square">
              <img src="https://via.placeholder.com/768x512/B0C4DE/000000" alt="..." class="img-cover">
            </div>

          </div>
          <div class="col-7">
            
            <div class="img-square">
              <img src="https://via.placeholder.com/768x512/20B2AA/000000" alt="..." class="img-cover">
            </div>

          </div>
        </div> <!-- / .row -->
      </div>
      <div class="col-3">

        <div class="img-square">
          <img src="https://via.placeholder.com/768x512/FFA07A/000000" alt="..." class="img-cover">
        </div>
        
      </div>
    </div> <!-- / .row -->
  </div>